.pick-up, .utilitarios, .suvs-cero-km, .pick-ups-cero-km, .autos-cero-km {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

.main-div-acesores ul, .main-div-acesores p, .parrafo-contacto, .text-usados, .lista-usados, .p-okm, .imag-par p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

nav {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  background-color: rgb(47, 79, 79);
}
@media screen and (min-width: 992px) {
  nav {
    height: 141px;
  }
}
nav .nav-m {
  font-size: 23px;
  padding: 10px 25px;
  margin: 30px;
  color: rgb(194, 194, 194);
  text-decoration: none;
}
nav .nav-m:hover {
  transform: scale(1.1);
}
nav .nav-mod {
  text-decoration: underline;
}
nav .boton-nav {
  background-color: rgb(194, 194, 194);
}

h1 {
  font-size: 50px;
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  padding: 30px;
}

.div-body {
  background-image: url("../images/fondoimg.jpg");
}

footer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  column-gap: 30px;
  padding: 30px;
  margin-top: 30px;
  background-color: rgb(47, 79, 79);
}
footer h3 {
  color: rgb(194, 194, 194);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  text-decoration: underline;
}
footer .foot-p {
  width: 300px;
}
footer .footer-font {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  color: rgb(194, 194, 194);
}
footer .icono-foot {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 992px) {
  footer {
    grid-template-columns: none;
  }
}

.centrado {
  text-align: center;
}

.font-cursive {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.img-respon {
  max-width: 100%;
  height: auto;
}

.imag-par {
  margin: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 20px;
}
@media screen and (max-width: 992px) {
  .imag-par {
    grid-template-columns: none;
  }
}
.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 900px;
  height: 500px;
  padding: 30px;
}
@media screen and (max-width: 992px) {
  .map {
    width: 100%;
  }
}

.main-h2-okm {
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
}

.parrafo-okm p {
  font-size: x-large;
  color: rgb(0, 0, 0);
  text-align: center;
}

.posv-caja {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.imag-posv {
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
}
@media screen and (max-width: 992px) {
  .imag-posv {
    grid-template-columns: none;
  }
}
.imag-posv img {
  max-width: 100%;
  height: auto;
}
.imag-posv p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.caja-posventa {
  width: 350px;
  height: 400px;
  border: 2px black solid;
  margin: 10px;
  padding: 30px;
  background-color: rgb(47, 79, 79);
  color: rgb(194, 194, 194);
  font-size: 25px;
}
.caja-posventa h4 {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border: solid black 2px;
  background-color: #1c2f2f;
}
.caja-posventa p {
  text-align: center;
  margin-top: 30px;
}

.vid-pos {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margen {
  margin-top: 50px;
}

.utilitarios {
  gap: 20px;
}

.pick-up {
  gap: 20px;
}

.text-usados p {
  text-decoration: underline;
  font-size: 25px;
}
.text-usados ul {
  list-style-type: circle;
}

.parrafo-contacto {
  grid-area: parrafo;
}

.main-div-acesores {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img parrafo" "img lista";
}
@media screen and (max-width: 992px) {
  .main-div-acesores {
    margin: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "img" "parrafo" "lista";
  }
  .main-div-acesores img {
    width: 100%;
  }
}
.main-div-acesores img {
  grid-area: img;
}
.main-div-acesores ul {
  grid-area: lista;
}

.service {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img parrafo" "image lista";
  grid-row-gap: 30px;
  grid-column-gap: 20px;
}
@media screen and (max-width: 992px) {
  .service {
    margin: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: "img" "parrafo" "image" "lista";
  }
  .service img {
    width: 100%;
  }
}
.service .img-servis {
  grid-area: img;
}
.service .image-servis {
  grid-area: image;
}
.service p {
  grid-area: parrafo;
}
.service div {
  grid-area: lista;
}
.service div #boton {
  border: solid rgb(0, 0, 0) 2px;
  background-color: rgb(47, 79, 79);
  color: rgb(194, 194, 194);
  font-size: 20px;
}

.btn-m {
  background-color: rgb(194, 194, 194);
  color: black;
}

section {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  border-radius: 10px;
  border: solid rgb(0, 0, 0) 2px;
  margin: 30px;
  padding: 20px;
  background-color: rgb(47, 79, 79);
  color: rgb(194, 194, 194);
}

/*# sourceMappingURL=style.css.map */
