.centrado{
    text-align: map-get($titulos,dispo);
}
.font-cursive{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700
}
.img-center{
    @include position(flex,center,center);
    margin: 20px;
} 
.img-respon{
    max-width: 100%;
    height: auto;
}
.imag-par{
    margin: 30px;
    display:grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 20px;
    @media screen and (max-width: 992px){
        grid-template-columns: none;
    }
    p{
        @extend %parrafos;
     
     }
}

.mapa{
    @include position(flex,center,center);
}
.map{
    width: 900px;
    height: 500px;
    padding: 30px;
    @media screen and (max-width: 992px){
        width: 100%;
    }
}