.lista-usados{
    @extend %parrafos;
}
.margen{
    margin-top: 50px;
}
.utilitarios{
    @extend %disposicion;
    gap: 20px
}
.pick-up{
    @extend %disposicion;
    gap: 20px
}
.text-usados{
    @extend %parrafos;
    p{
        text-decoration: underline;
        font-size: 25px;
    }
    ul{
        list-style-type:circle;
    }
}